# Replace FORTRAN style relational operators with C-style
# to make our code more readable for non-FORTRAN programmers
# .e.g '.lt.' -> '<'
enable-replacements=True
c-relations=True

# White space settings
indent=2
line-length=132
strict-indent=True
strip-comments=False
whitespace-relational=True
whitespace-logical=True
whitespace-plusminus=True
whitespace-multdiv=True
whitespace-comma=True
whitespace-intrinsics=True
whitespace-print=True
whitespace-type=True

# Control whitespace around '::' declarations
whitespace-decl=True
enable-decl=True

# Don't indent pre-processor statements
disable-fypp=True

# Change case of intrisics
case=[2,2,2,2]
